
body {
    margin: 0;
    background-color: #223344;
    color: white;
    height: 100vh;
    background-image: url(./monster.png);
    background-position: center;
    background-repeat: no-repeat;
}

input {
    width: 100%;
    height: 30px;
    text-align:center;
    font-size: 1rem;
    margin-top:15px;
    
  }

.container {
    width: 35rem;
    background-color: palevioletred;
    height: 15rem;
    font-size: 1.5rem;
    text-align: center;
}


input {
    width: 20rem;
    height: 2rem;
 
}

button {
    background-color: lime;
    width: 12rem;
    height: 3rem;
    font-size: 1.2rem;
    margin: 1rem;
    cursor: pointer;
    border: grey;
    border-style: outset;
}

button:hover {
    border: grey;
    border-style: inset;
    color: white;
    background-color: green;
}

#buttons {
    margin: 2rem;
}

.flex {
    display: flex;
}

.vertical {
    flex-direction: column;
}

.centered {
    align-items: center;
    justify-content: center;
}

.padding {
    padding: 2rem;
}